@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
}

.btn {
  @apply py-1 px-4 rounded-md bg-gray-100 disabled:cursor-not-allowed disabled:text-gray-400;
}
